@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Poppins:wght@100;200&display=swap');

.banner-container {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #f6f6f6;
    cursor: pointer;
    border: 2px solid black;
}

.banner-img {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    border: 2px solid green;
    transition: transform .2s ease-in-out;
}

.banner-container:hover .banner-img{
    transform: scale(1.1);
}

.banner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    top: 40px;
    left: 30px;
    font-family: 'Cormorant Garamond', serif;
}

.banner-content h3{
    color: brown;
    font-size: 2rem;
}

.banner-icon:hover{
    color: purple;
}