.flex-table {
    display: flex;
    flex-direction: column;

    border: none;
    background: #fff;
    height: 100%;
    overflow-x: hidden;
}
.flex-table thead {
    color: #fff;
    background: #009485;
}

.flex-table thead tr,
.flex-table tbody tr {
    display: flex;
}
.flex-table tbody tr+tr {
    border-top: 1px solid #ccc;
}
.flex-table thead tr th,
.flex-table tbody tr td {
    display: flex;
    flex: 1;
    padding: .4em;
    text-align: end;
    justify-content: flex-end;
}

.flex-table tbody a{
    text-decoration: none;
    color:black;
}

.row-container{
    display: flex;
    width: auto;
    border-bottom: 1px solid black;
}

.row-link{
    width: 100%;
}

.table-row:hover{
    background-color:#6770d214;
}

.table-row:nth-of-type(2n){
   background: red;
}

.table-row td{
    border-left: 1px solid black;
}

.table-description{
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.delete-record{
margin-top: 5px;
}