.slider{
    width: auto;
    height: 100%;
    overflow: hidden;
}

.inner-slider{
    display: flex;
    height: 100%;
}

.slider-item{
    max-height: 100%;
    min-width: 190px;
    position: relative;
    background-color: #f6f6f8;
    margin-right: 20px;
    cursor: grab;
}

.slider-item img{
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    pointer-events: none;
}

.delete-img{
    position: absolute;
    height: auto;
    bottom: 5px;
    right: 100px;
}

.delete-img-icon{
    cursor: pointer;
}