.add-product-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.add-product{
    margin: 0 auto;
    width: 100px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 3px 1px;
    border-radius: 10px;
    text-decoration: none;
}

.add-product:hover{
    color: #a749ff;
    transform: scale(1.08);
    transition: all 0.5s;
}