@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');


.products-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 85%;
    margin: 50px auto;
}

.products-container{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 45px;
}


@media (max-width: 1470px){
    .products-container{
        justify-content: space-between;
    }
}

@media (max-width: 1120px){
    .products-container{
        justify-content: center;
    }
}