@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');


.products-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 85%;
    margin: 50px auto;
}

.products-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px;

}