@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');


.products-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 85%;
    margin: 50px auto;
}

.products-sort-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

#sort-products option{
    text-align: center;
}

#sort-products{
    height: 50%;
    margin-right: 15px;
}

#sort-products{
    width: 120px;
    text-align: end;
}

.products-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px;
    border-top: 1px solid #dee2e6;
}